* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

#header {
    padding: 16px 0;
    background-color: #9c27b0;
    color: white;
}

#footer {
    padding: 8px 0;
    background-color: #1f2937;
    color: white;
}

button {
    padding: 8px 0;
    margin: 28px 0 12px 0;
    width: 132px;
    border-radius: 4px;
}

h2 {
    margin: 8px;
    padding: 0;
}

#settings {
    width: 16vw;
    max-height: 500%;
    height: 100%;
    position: relative;
    left: -9vw;
    align-items: center;
}

#grid {
    width: 500px;
    height: 500px;
    box-shadow: 16px 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    position: relative;
    left: -9vw;
    border: 3px solid black;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cell {
    flex: 1;
}
